
body {
	--primary-bg: #273720; /*primary background*/
	--secondary-bg: #2C3F25; /*secondary background*/
	--primary-fg: #D2A27C; /*primary foreground*/
	--secondary-fg: #E7C296; /*secondary foreground*/
	background-color: var(--primary-bg);
	color: var(--primary-fg);
}

img.inspiration {
	width: 220px;
}

.ali-and-michael h1 {
	margin-bottom: 0;
}
.ali-and-michael {
	margin-bottom: 0.5rem;
}
.amp.grid-x {
	align-items: center;
}
.amp-line {
    display: block;
    content: "";
    background-color: var(--primary-fg);
    height: 0.1rem;
}

button.outline,
.button.outline {
	background-color: transparent;
	color: var(--primary-fg);
	outline: 1px solid var(--primary-fg);
}

button.outline:hover, button.outline:focus,
.button.outline:hover, .button.outline:focus {
	color: var(--secondary-fg);
	outline: 1px solid var(--secondary-fg);
}

/*Modifications*/
.section {
  margin-top: 5rem;
}

.top-bar {
	background-color: var(--primary-bg);	
}
.top-bar h1,
.top-bar h2,
.top-bar h3,
.top-bar h4,
.top-bar h5 {
	margin-bottom: 0;
}

.callout {
	background-color: var(--secondary-bg);
	color: var(--primary-fg);
}
.callout.primary {
	background-color: #d7ecfa;
	color: var(--primary-fg);
}
.callout.secondary {
	background-color: #eaeaea;
	color: var(--primary-fg);
}
.callout h1,
.callout h2,
.callout h3,
.callout h4,
.callout h5 {
	color: var(--secondary-fg);
}

a,
a:visited {
	color: var(--secondary-fg);
}
a:hover {
	color: var(--primary-fg);
}

.callout a,
.callout a:visited {
	color: var(--primary-fg);
}
.callout a:hover {
	color: var(--secondary-fg);
}

thead,
tbody,
tfoot {
  border: none;
  background-color: unset;
}
tbody tr:nth-child(even) {
  background-color: unset;
  color: var(--primary-fg);
}
table ul,
table ol {
	margin-bottom: 0;
}

.prevent-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}