
body {
	--primary-bg: #273721; /*primary background*/
	--secondary-bg: #374E2F; /*secondary background*/
	--primary-fg: #B18969; /*primary foreground*/
	--secondary-fg: #E7C296; /*secondary foreground*/
	background-color: var(--primary-bg);
	color: var(--primary-fg);
}

img.inspiration {
	width: 220px;
}

.amp-line {
    display: block;
    content: "";
    background-color: var(--primary-fg);
    height: 0.1rem;
    margin-top: 1rem;
}
/*Medium+ screen*/
@media print, screen and (min-width: 40em) {
	.amp-line {
	    display: block;
	    content: "";
	    background-color: var(--primary-fg);
	    height: 0.1rem;
	    margin-top: 2rem;
	}
}

button.outline,
.button.outline {
	background-color: transparent;
	color: var(--primary-fg);
	outline: 1px solid var(--primary-fg);
}

/*Modifications*/
.section {
  margin-top: 5rem;
}

.top-bar {
	background-color: var(--primary-bg);	
}
.top-bar h1,
.top-bar h2,
.top-bar h3,
.top-bar h4,
.top-bar h5 {
	margin-bottom: 0;
}

.callout {
	background-color: var(--secondary-bg);
	color: var(--secondary-fg);
}
.callout.primary {
	background-color: #d7ecfa;
	color: var(--secondary-fg);
}
.callout.secondary {
	background-color: #eaeaea;
	color: var(--secondary-fg);
}

a,
a:visited {
	color: var(--secondary-fg);
}
a:hover {
	color: var(--primary-fg);
}

.callout a,
.callout a:visited {
	color: var(--primary-fg);
}
.callout a:hover {
	color: var(--secondary-fg);
}

thead,
tbody,
tfoot {
  border: none;
  background-color: var(--primary-bg);
}
tbody tr:nth-child(even) {
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
}
table ul,
table ol {
	margin-bottom: 0;
}